In [2]:
# import os
# import sys
import numpy as np
import pandas as pd;
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import keras
from keras.layers import *
from keras.models import Sequential
from ann_visualizer.visualize import ann_viz;

In [3]:
data = pd.read_csv("../data/credit_approval.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      678 non-null    object
 1   A2      678 non-null    float64
 2   A3      690 non-null    float64
 3   A4      684 non-null    object
 4   A5      684 non-null    object
 5   A6      681 non-null    object
 6   A7      681 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     677 non-null    float64
 14  A15     690 non-null    int64
 15  class   690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB

In [5]:
# Imputing missing values for numerical columns with mean value
data.fillna(data.mean(), inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      678 non-null    object
 1   A2      690 non-null    float64
 2   A3      690 non-null    float64
 3   A4      684 non-null    object
 4   A5      684 non-null    object
 5   A6      681 non-null    object
 6   A7      681 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    float64
 14  A15     690 non-null    int64
 15  class   690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB

In [33]:
for col in data.columns:
    if data[col].isnull().sum() != 0:        
        print("Column name: ",col)
        print(data[data[col].isnull()])
        print("Null/Nan in this column: ",data[col].isnull().sum())
        print()

Column name:  A1
      A1     A2      A3 A4 A5   A6   A7     A8 A9 A10  A11 A12 A13     A14  \
248  NaN  24.50  12.750  u  g    c   bb  4.750  t   t    2   f   g    73.0
327  NaN  40.83   3.500  u  g    i   bb  0.500  f   f    0   f   s  1160.0
346  NaN  32.25   1.500  u  g    c    v  0.250  f   f    0   t   g   372.0
374  NaN  28.17   0.585  u  g   aa    v  0.040  f   f    0   f   g   260.0
453  NaN  29.75   0.665  u  g    w    v  0.250  f   f    0   t   g   300.0
479  NaN  26.50   2.710  y  p  NaN  NaN  0.085  f   f    0   f   s    80.0
489  NaN  45.33   1.000  u  g    q    v  0.125  f   f    0   t   g   263.0
520  NaN  20.42   7.500  u  g    k    v  1.500  t   t    1   f   g   160.0
598  NaN  20.08   0.125  u  g    q    v  1.000  f   t    1   f   g   240.0
601  NaN  42.25   1.750  y  p  NaN  NaN  0.000  f   f    0   t   g   150.0
641  NaN  33.17   2.250  y  p   cc    v  3.500  f   f    0   t   g   200.0
673  NaN  29.50   2.000  y  p    e    h  2.000  f   f    0   f   g   256.0

      A15 class
248   444     +
327     0     -
346   122     -
374  1004     -
453     0     -
479     0     -
489     0     -
520   234     +
598   768     +
601     1     -
641   141     -
673    17     -
Null/Nan in this column:  12

Column name:  A4
    A1     A2   A3   A4   A5   A6   A7   A8 A9 A10  A11 A12 A13         A14  \
206  a  71.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
270  b  37.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
330  b  20.42  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
456  b  34.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
592  b  23.17  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
622  a  25.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771

     A15 class
206    0     +
270    0     +
330    0     -
456    0     -
592    0     +
622    0     +
Null/Nan in this column:  6

Column name:  A5
    A1     A2   A3   A4   A5   A6   A7   A8 A9 A10  A11 A12 A13         A14  \
206  a  71.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
270  b  37.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
330  b  20.42  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
456  b  34.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
592  b  23.17  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771
622  a  25.58  0.0  NaN  NaN  NaN  NaN  0.0  f   f    0   f   p  184.014771

     A15 class
206    0     +
270    0     +
330    0     -
456    0     -
592    0     +
622    0     +
Null/Nan in this column:  6

Column name:  A6
      A1     A2    A3   A4   A5   A6   A7     A8 A9 A10  A11 A12 A13  \
206    a  71.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
270    b  37.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
330    b  20.42  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
456    b  34.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
479  NaN  26.50  2.71    y    p  NaN  NaN  0.085  f   f    0   f   s
539    b  80.25  5.50    u    g  NaN  NaN  0.540  t   f    0   f   g
592    b  23.17  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
601  NaN  42.25  1.75    y    p  NaN  NaN  0.000  f   f    0   t   g
622    a  25.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p

            A14  A15 class
206  184.014771    0     +
270  184.014771    0     +
330  184.014771    0     -
456  184.014771    0     -
479   80.000000    0     -
539    0.000000  340     -
592  184.014771    0     +
601  150.000000    1     -
622  184.014771    0     +
Null/Nan in this column:  9

Column name:  A7
      A1     A2    A3   A4   A5   A6   A7     A8 A9 A10  A11 A12 A13  \
206    a  71.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
270    b  37.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
330    b  20.42  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
456    b  34.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
479  NaN  26.50  2.71    y    p  NaN  NaN  0.085  f   f    0   f   s
539    b  80.25  5.50    u    g  NaN  NaN  0.540  t   f    0   f   g
592    b  23.17  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p
601  NaN  42.25  1.75    y    p  NaN  NaN  0.000  f   f    0   t   g
622    a  25.58  0.00  NaN  NaN  NaN  NaN  0.000  f   f    0   f   p

            A14  A15 class
206  184.014771    0     +
270  184.014771    0     +
330  184.014771    0     -
456  184.014771    0     -
479   80.000000    0     -
539    0.000000  340     -
592  184.014771    0     +
601  150.000000    1     -
622  184.014771    0     +
Null/Nan in this column:  9